snippet snip "Ultisnips snippet definition" b
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:birwA}
${4:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet

snippet msnip "Ultisnips math snippet definition" b
context "math()"
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:iwA}
${4:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet
